<header class="header">
    <div class="header-content">
        <h1 class="site-title">
            <a href="{{ "/" | relURL }}"><img src="/img/g/logo_full_right.png" alt="Hand of Claude" class="site-logo" /></a>
        </h1>

        <nav class="nav">
            <ul class="nav-list">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a href="{{ .URL | relURL }}" class="nav-link {{ if $.IsMenuCurrent "main" . }}active{{ end }}">
                    {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>